<%- include("partials/header1") %>
<h3>Destinations</h3>
<!--<h4><a href="/addnew">Add a new Destination</a></h4>-->
<div class="container">
        <div class="row d-flex justify-content-center">
        <% destinations.forEach(function(place){%>
            <div class="card" style="margin:auto;  height:430px; max-width: 260px;">
                <img class="card-img-top" style="height:180px;" src="<%=place.image%>" alt="Card image cap">
                <div class="list card-body">
                  <h5 class="card-title"><%=place.namelocation%></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/destinations/<%=place.uniquename%>" class="bgc btn btn-primary">More Info</a>
                </div>
              </div>
            <%});%>
        </div>
    </div>
    <%- include("partials/footer1") %>